<link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
<div id="menu-bar">
    <h1>Plex Downloader</h1>
    <ul>
        <li><a href="https://app.plex.tv/desktop" target="_blank">Plex</a></li>
        <li><a href="/que">Que</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</div>